.burger {
  width: 50px;
  height: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 20px;
}
.burger span {
  width: 100%;
  height: 5px;
  border-radius: 30%;
  background-color: black;
}

.barMenu {
  width: calc(100% - 40px);
  height: auto;
  overflow: hidden;
  position: absolute;
  top: 120px;
  background: linear-gradient(
    180deg,
    rgba(0, 5, 15, 1) 50%,
    rgba(1, 16, 46, 0) 100%
  );
}

.NavBarTabs {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 20px 0;
}
.NavBarTabs div {
  cursor: pointer;
  transition: 0.4s;
  color: #019191;
  font-family: ui-serif;
  font-size: 25px;
}
.NavBarTabs div:hover {
  color: gray;
  transform: translate(0, 10px);
}
.NavBarTabs a {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: 0.4s;
}
.NavBarTabs a:hover {
  transform: translate(0, 10px);
}
.NavBarTabs img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border-radius: 4%;
}
.NavBarButton {
  cursor: pointer;
}

.NavBarButton:hover {
  transform: translate(0, 10px);
}
.hidden {
  display: none;
}
.easyOut {
  animation: slideOut 0.5s ease-out;
}
.visible {
  animation: slideIn 0.5s ease-out;
}
.burger.clicked > span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  transition: transform ease-out 0.5s;
}
.burger.clicked > span:nth-child(2) {
  transform: scale(0);
  transition: transform ease-out 0.5s;
}

.burger.clicked > span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: transform ease-out 0.5s;
}

.burger > span:nth-child(1) {
  transform: none;
  transition: transform ease-out 0.5s;
}
.burger > span:nth-child(2) {
  transform: none;
  transition: transform ease-out 0.5s;
}
.burger > span:nth-child(3) {
  transform: none;
  transition: transform ease-out 0.5s;
}

@keyframes slideIn {
  from {
    height: 0;
  }
  to {
    height: 400px;
  }
}
@keyframes slideOut {
  from {
    height: 400px;
  }
  to {
    height: 0;
  }
}
@media (max-width: 590px) {
  .burger {
    display: flex;
  }
  .NavBarTabs {
    display: flex;
  }
  .barMenu {
    justify-content: center;
  }
}
